.wrapper {
    max-width: 1200px;
    position: relative;
    left: -1000%;
    animation: appear 0.7s ease-in-out forwards;
} 

@keyframes appear {
    0% {
        left: -1000%;
    }
    100% {
        left: 0%;
    }
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 30px;
}

.img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    img {
        width: 150px;
        height: 150px;
    }
}

.text {
    p {
        margin-bottom: 20px;
    }
}