.list_user_item {
    border: 1px solid grey;
    margin-bottom: 5px;
    padding: 5px 5px 5px 2px;
    border-radius: 3px;
    a {
        display: grid;
        grid-template-columns: 20px 200px 200px 30px;
        text-decoration: none;
        &:visited {
            text-decoration: none; 
        }
    }
    p {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}